/*-- scss:defaults --*/

// Sass Variables
// https://quarto.org/docs/output-formats/html-themes.html#sass-variables

/* Colors */
$body-bg: #FFFFFF;
$body-color: rgb(55, 58, 60);
$link-color: rgb(39, 128, 227);

/* Fonts */
$font-family-sans-serif: "Source Sans Pro", -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-size-root: 17px;

/* Navbar customization */
.navbar .nav-link {
  font-weight: bold; /* Makes the text bold */
  font-size: 0.9rem; /* Reduces font size (adjust as needed) */
  color: white; /* Ensures the text is visible on the dark background */
}

.navbar .nav-link:hover {
  color: #0597FD; /* Slight color change on hover for a polished effect */
}

/* Navbar brand title styling */
.navbar-brand {
  font-size: 1.2rem; /* Slightly larger font size for the title */
  color: white;
}

.navbar-brand:hover {
  color: #0597FD; /* Title hover effect */
}

/* Custom styles for justified text */
.justified {
    text-align: justify;
    background-color: #ffffff; /* Light gray for readability */
    padding: 20px;
    border-radius: 10px;
}

